<!DOCTYPE html>
<html th:replace="~{admin/layout :: template(~{:: main})}">
  <body>
    <main>
      <h2 style="margin-top: 20px">Home</h2>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eos
        cupiditate officiis rerum reprehenderit tempore molestiae soluta,
        voluptatum exercitationem qui autem magnam beatae explicabo distinctio
        labore, nostrum corporis repellat odit!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eos
        cupiditate officiis rerum reprehenderit tempore molestiae soluta,
        voluptatum exercitationem qui autem magnam beatae explicabo distinctio
        labore, nostrum corporis repellat odit!
      </p>
    </main>
  </body>
</html>
